@use 'base/variables' as v;
@use 'base/mixins' as m;

.contenedor-app {
    @include m.tablet {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        min-height: 100vh;
    }

    .imagen {
        height: 20rem;
        background-image: url(../img/1.jpg);
        background-size: cover;
        background-position: center center;

        @include m.tablet {
            height: auto;
        }
    }

    .app {
        width: 95%;
        margin: 0 auto;
        padding: 3rem 0;

        @include m.tablet {
            overflow: scroll;
        }
    }
}


.barra {
    margin: v.$separacion;

    @include m.tablet {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .boton{
        margin: 0;
        @include m.boton(v.$negro, v.$blanco);
    }
}