@use 'base/variables' as v;
@use 'base/mixins' as m;

.navegacion {
    display: flex;
    flex-direction: column;
    @include m.tablet{
        flex-direction: row;
    }

    &__enlace {
        color: v.$blanco;
        font-size: 2rem;
        padding: 2rem;
        text-transform: uppercase;
        font-weight: v.$black;

        &--actual,
        &:hover{
            color: v.$azul;
            background-color: v.$blanco;
        }
    }
}