@use 'base/variables' as v;
@use 'base/mixins' as m;
@use 'sass:color';

.no-proyectos {
    

    a {
        color: v.$indigo;
    }
}

.listado-proyectos {
    list-style: none;
    padding: 0;
    margin-top: 3rem;

    @include m.grid(1, 2rem);
    @include m.tablet{
        @include m.grid(2, 2rem);
    }
    @include m.desktop{
        @include m.grid(3, 2rem);
    }
    .proyecto {
        background-color: color.adjust(v.$indigo, $lightness: 5%);
        min-height: 12rem;
        display: flex;
        align-items: center;
        padding: 2rem;
        line-height: 2;
        border-radius: .5rem;

        &:hover {
            background-color: color.adjust(v.$indigo, $lightness: -5%);
        }
        a {
            color: v.$blanco;
        }

    }
}